includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 6
    paths:
        - src
    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        -
            identifier: argument.type
            message: '#expects view-string#'
